const Discord = require('discord.js');

module.exports = function (p) {

  // Set embed_color dynamic (p.color), or custom hex color ie 'f358fb'
  let embed_color = p.color;

  // CREATE QUEST EMBED
  let quest_embed = new Discord.RichEmbed()
  .setColor(embed_color)
  .setThumbnail(p.sprite)
  .addField( p.reward+'  |  '+p.area, p.task, false)
  .addField('Pokéstop:', p.name, false)
  .addField('Directions:','[Google Maps](https://www.google.com/maps?q='+p.lat+','+p.lon+') | '
                         +'[Apple Maps](http://maps.apple.com/maps?daddr='+p.lat+','+p.lon+'&z=10&t=s&dirflg=d) | '
                         +'[Scan Map]('+p.map_url+'?lat='+p.lat+'&lon='+p.lon+'&zoom=15)',false)
  .setImage(p.map_img)
  .setFooter('Expires: '+p.time);

  return quest_embed;
}
