const Discord = require('discord.js');

module.exports = function(g) {

      // Set embed_color dynamic (color), or custom hex color ie 'f358fb'
      embed_color = g.color;

      // CREATE THE EGG EMBED
      let raid_embed = new Discord.RichEmbed()
        .setColor(embed_color)
        .setThumbnail(g.sprite)
        .setAuthor(g.name, g.url)
        .setDescription(g.exraid+g.notes)
        .addField('**Level '+g.level+'** Raid', g.team+g.sponsor, false)
        .addField('Hatches: '+g.hatch_time+' (*'+g.hatch_mins+' Mins*)',g.area, false)
        .addField('Directions:','[Google Maps](https://www.google.com/maps?q='+g.lat+','+g.lon+') | '
                               +'[Apple Maps](http://maps.apple.com/maps?daddr='+g.lat+','+g.lon+'&z=10&t=s&dirflg=d) | '
                               +'[Scan Map]('+g.map_url+'?lat='+g.lat+'&lon='+g.lon+'&zoom=15)',false)
        .setImage(g.map_img);

 return raid_embed;
}
