[OAUTH2]
token = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
client_id = 00000000000000000000
client_secret = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
redirect = http://localhost:4444/api/discord/callback
scope = identify,email,guilds,guilds.join

[STRIPE]
public_key =
secret_key =

# CITIES/DISCORDS

[CITY]
guild_id =
user_info_channel =
donor_role_name =
stripe_info_channel =
stripe_plan_id =
stripe_plan_cost =

[CITY]
guild_id =
user_info_channel =
donor_role_name =
stripe_info_channel =
stripe_plan_id =
stripe_plan_cost =

[CITY]
guild_id =
user_info_channel =
donor_role_name =
stripe_info_channel =
stripe_plan_id =
stripe_plan_cost =
