; Enable or Disable Console Logs
CONSOLE_LOGS = ENABLED

; LISTENING PORT
; Listening Port that the Bot listens on.
; You will need to add http://bot_host_ip:3333/ in RDM.
LISTENING_PORT = 3333

; COMMAND PREFIX
PREFIX = '.'

; FILTER BY DISCORD OPTION
; If you have multiple discords that overlap in scan areas, you need to disable this.
Filter_Discord = ENABLED

; DATABASE CREDENTIALS
[DB]
host = 172.16.12.160
username = username
password = password
port = 3306

; BOT TOKENS
; You can add up to 15 BOT_TOKENS[].
; The MAIN token cannot be in the BOT_TOKEN[] section.
[TOKENS]
MAIN = MAINTOKEN
BOT_TOKENS[] = TOKEN
BOT_TOKENS[] = TOKEN
BOT_TOKENS[] = TOKEN
BOT_TOKENS[] = TOKEN
BOT_TOKENS[] = TOKEN
BOT_TOKENS[] = TOKEN
BOT_TOKENS[] = TOKEN
BOT_TOKENS[] = TOKEN
BOT_TOKENS[] = TOKEN
BOT_TOKENS[] = TOKEN
BOT_TOKENS[] = TOKEN
BOT_TOKENS[] = TOKEN
BOT_TOKENS[] = TOKEN
BOT_TOKENS[] = TOKEN
BOT_TOKENS[] = TOKEN

; CUSTOM EMOTES
; If enabled, the bot will require External Emojis Permissions for any feed channels.
; You must also join and invite your bots to the following servers:
; https://discord.gg/zqVCfPy - WEATHER, TEAMS, GYMS, TYPES
; https://discord.gg/AnECN8U - Legendary boss emojis
[EMOTES]
Custom = true

; QUESTS SECTION
; To add a reward, add "Rewards[] = NEWREWARD" in whichever order you want it to appear in the embed.
; The reward names must match the reward names found in /static/en.json
; You can comment our rewards without removing them using a ';'
[QUEST]
Subscriptions = ENABLED
Discord_Feeds = ENABLED
Rewards[] = Ultra Ball
Rewards[] = Hyper Potion
Rewards[] = Max Potion
Rewards[] = Max Revive
Rewards[] = Golden Razz Berry
Rewards[] = Silver Pinap Berry
; Rewards[] = Fast TM
; Rewards[] = Charged TM
Rewards[] = Rare Candy
; Rewards[] = Star Piece
Rewards[] = 1000 Stardust
Rewards[] = 1500 Stardust
Rewards[] = Chansey
Rewards[] = Larvitar
Rewards[] = Nincada
Rewards[] = Spinda
Rewards[] = Dratini
Rewards[] = Bidoof
Rewards[] = Cubone
Rewards[] = Aerodactyl
Rewards[] = Lapras
Rewards[] = Electabuzz
Rewards[] = Misdreavus
Rewards[] = Omanyte
Rewards[] = Machop

; RAIDS SECTION
; Subscriptions are disabled by default because the code is incomplete.
[RAID]
Subscriptions = DISABLED
Discord_Feeds = ENABLED

; POKEMON SECTION
[POKEMON]
Subscriptions = ENABLED
Discord_Feeds = ENABLED

; Debugs will flood the console with logs.
; It is best to only have one enabled at at time if you are having a problem.
[DEBUG]
Quests = ENABLED
Pokemon = DISABLED
Raids = DISABLED
Subscriptions = DISABLED
Area = DISABLED
