{
  "Servers": [{
      "name": "TLH",
      "id": "266738315380785152",
      "sub_channel": "492517376177471488",
      "donor_role": "277658037982986240",
      "geofence": "Tallahassee"
    },
    {
      "name": "GVL",
      "id": "520254085148966912",
      "sub_channel": "520604206206287883",
      "donor_role": "",
      "geofence": "Gainesville"
    },
    {
      "name": "TEST",
      "id": "420902528641662976",
      "sub_channel": "527865177144819732",
      "donor_role": "",
      "geofence": "Test"
    }
  ]
}
