{
  "type": "FeatureCollection",
  "features": [
    {
      "type": "Feature",
      "properties": {
        "stroke": "#555555",
        "stroke-width": 2,
        "stroke-opacity": 1,
        "fill": "#0080ff",
        "fill-opacity": 0.5,
        "name": "Central"
      },
      "geometry": {
        "type": "Polygon",
        "coordinates": [
          [
            [
              -84.304929,
              30.499126
            ],
            [
              -84.330162,
              30.462004
            ],
            [
              -84.305532,
              30.424597
            ],
            [
              -84.255651,
              30.424296
            ],
            [
              -84.230399,
              30.461404
            ],
            [
              -84.255048,
              30.498826
            ],
            [
              -84.304929,
              30.499126
            ]
          ]
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "stroke": "#555555",
        "stroke-width": 2,
        "stroke-opacity": 1,
        "fill": "#80ffff",
        "fill-opacity": 0.5,
        "name": "NorthWest"
      },
      "geometry": {
        "type": "Polygon",
        "coordinates": [
          [
            [
              -84.330161,
              30.462005
            ],
            [
              -84.304935,
              30.49913
            ],
            [
              -84.344615,
              30.556047
            ],
            [
              -84.343648,
              30.612581
            ],
            [
              -84.37096,
              30.612914
            ],
            [
              -84.417334,
              30.569771
            ],
            [
              -84.416969,
              30.461773
            ],
            [
              -84.330161,
              30.462005
            ]
          ]
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "stroke": "#400040",
        "stroke-width": 2,
        "stroke-opacity": 1,
        "fill": "#ffad74",
        "fill-opacity": 0.5,
        "name": "North"
      },
      "geometry": {
        "type": "Polygon",
        "coordinates": [
          [
            [
              -84.255056,
              30.498828
            ],
            [
              -84.229071,
              30.536996
            ],
            [
              -84.253802,
              30.573814
            ],
            [
              -84.254562,
              30.612655
            ],
            [
              -84.343639,
              30.612582
            ],
            [
              -84.34461,
              30.556049
            ],
            [
              -84.304927,
              30.499125
            ],
            [
              -84.255056,
              30.498828
            ]
          ]
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "stroke": "#555555",
        "stroke-width": 2,
        "stroke-opacity": 1,
        "fill": "#ffff80",
        "fill-opacity": 0.5,
        "name": "NorthEast"
      },
      "geometry": {
        "type": "Polygon",
        "coordinates": [
          [
            [
              -84.230403,
              30.461396
            ],
            [
              -84.113993,
              30.462392
            ],
            [
              -84.114806,
              30.524219
            ],
            [
              -84.174947,
              30.53621
            ],
            [
              -84.229066,
              30.536994
            ],
            [
              -84.255056,
              30.498829
            ],
            [
              -84.230403,
              30.461396
            ]
          ]
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "stroke": "#555555",
        "stroke-width": 2,
        "stroke-opacity": 1,
        "fill": "#0e8c00",
        "fill-opacity": 0.5,
        "name": "SouthEast"
      },
      "geometry": {
        "type": "Polygon",
        "coordinates": [
          [
            [
              -84.230414,
              30.461396
            ],
            [
              -84.255648,
              30.424291
            ],
            [
              -84.223087,
              30.375687
            ],
            [
              -84.113723,
              30.407481
            ],
            [
              -84.113978,
              30.462393
            ],
            [
              -84.230414,
              30.461396
            ]
          ]
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "stroke": "#555555",
        "stroke-width": 2,
        "stroke-opacity": 1,
        "fill": "#ff0000",
        "fill-opacity": 0.5,
        "name": "South"
      },
      "geometry": {
        "type": "Polygon",
        "coordinates": [
          [
            [
              -84.305532,
              30.424597
            ],
            [
              -84.33066,
              30.387461
            ],
            [
              -84.305943,
              30.350039
            ],
            [
              -84.2561,
              30.349738
            ],
            [
              -84.22308,
              30.375689
            ],
            [
              -84.255651,
              30.424296
            ],
            [
              -84.305532,
              30.424597
            ]
          ]
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "stroke": "#555555",
        "stroke-width": 2,
        "stroke-opacity": 1,
        "fill": "#8000ff",
        "fill-opacity": 0.5,
        "name": "SouthWest"
      },
      "geometry": {
        "type": "Polygon",
        "coordinates": [
          [
            [
              -84.330166,
              30.462007
            ],
            [
              -84.416974,
              30.461778
            ],
            [
              -84.417036,
              30.420445
            ],
            [
              -84.382696,
              30.387992
            ],
            [
              -84.330654,
              30.387463
            ],
            [
              -84.305538,
              30.424598
            ],
            [
              -84.330166,
              30.462007
            ]
          ]
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "stroke": "#555555",
        "stroke-width": 2,
        "stroke-opacity": 1,
        "fill": "#ff8080",
        "fill-opacity": 0.5,
        "name": "Bradfordville"
      },
      "geometry": {
        "type": "Polygon",
        "coordinates": [
          [
            [
              -84.229075,
              30.536993
            ],
            [
              -84.174943,
              30.536212
            ],
            [
              -84.144154,
              30.558064
            ],
            [
              -84.144476,
              30.591394
            ],
            [
              -84.175195,
              30.611547
            ],
            [
              -84.254566,
              30.612657
            ],
            [
              -84.253822,
              30.573842
            ],
            [
              -84.229075,
              30.536993
            ]
          ]
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "stroke": "#555555",
        "stroke-width": 2,
        "stroke-opacity": 1,
        "fill": "#555555",
        "fill-opacity": 0.5,
        "name": "The North"
      },
      "geometry": {
        "type": "Polygon",
        "coordinates": [
          [
            [
              -37.336177825927734,
              31.3348710339506
            ],
            [
              -37.28639602661133,
              31.3348710339506
            ],
            [
              -37.28639602661133,
              31.350118618997662
            ],
            [
              -37.336177825927734,
              31.350118618997662
            ],
            [
              -37.336177825927734,
              31.3348710339506
            ]
          ]
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "stroke": "#555555",
        "stroke-width": 2,
        "stroke-opacity": 1,
        "fill": "#555555",
        "fill-opacity": 0.5,
        "name": "The West"
      },
      "geometry": {
        "type": "Polygon",
        "coordinates": [
          [
            [
              -37.36278533935547,
              31.29072708204807
            ],
            [
              -37.337894439697266,
              31.29072708204807
            ],
            [
              -37.337894439697266,
              31.332378405263402
            ],
            [
              -37.36278533935547,
              31.332378405263402
            ],
            [
              -37.36278533935547,
              31.29072708204807
            ]
          ]
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "stroke": "#555555",
        "stroke-width": 2,
        "stroke-opacity": 1,
        "fill": "#555555",
        "fill-opacity": 0.5,
        "name": "The East"
      },
      "geometry": {
        "type": "Polygon",
        "coordinates": [
          [
            [
              -37.28982925415039,
              31.292193990742486
            ],
            [
              -37.26184844970703,
              31.292193990742486
            ],
            [
              -37.26184844970703,
              31.332231777990522
            ],
            [
              -37.28982925415039,
              31.332231777990522
            ],
            [
              -37.28982925415039,
              31.292193990742486
            ]
          ]
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "stroke": "#555555",
        "stroke-width": 2,
        "stroke-opacity": 1,
        "fill": "#555555",
        "fill-opacity": 0.5,
        "name": "The South"
      },
      "geometry": {
        "type": "Polygon",
        "coordinates": [
          [
            [
              -37.336177825927734,
              31.273562554577598
            ],
            [
              -37.28965759277344,
              31.273562554577598
            ],
            [
              -37.28965759277344,
              31.29072708204807
            ],
            [
              -37.336177825927734,
              31.29072708204807
            ],
            [
              -37.336177825927734,
              31.273562554577598
            ]
          ]
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "stroke": "#555555",
        "stroke-width": 2,
        "stroke-opacity": 1,
        "fill": "#555555",
        "fill-opacity": 0.5,
        "name": "Central"
      },
      "geometry": {
        "type": "Polygon",
        "coordinates": [
          [
            [
              -37.33274459838867,
              31.294247624564747
            ],
            [
              -37.29532241821289,
              31.294247624564747
            ],
            [
              -37.29532241821289,
              31.331791894801295
            ],
            [
              -37.33274459838867,
              31.331791894801295
            ],
            [
              -37.33274459838867,
              31.294247624564747
            ]
          ]
        ]
      }
    }
  ]
}
