{
	"Type": "quest",
	"City": "TLH",
	"Channel_ID": "511303614032248843",
	"Rewards": [
		"Chansey Encounter",
		"Larvitar Encounter",
		"Nincada Encounter",
		"Spinda Encounter",
		"Dratini Encounter"
	]
}
